@charset "utf-8";
/* CSS Document */

.time_card img {
	width: 95%;
}
table {
	width: 60%;
	margin: auto;
}
h1, h2, h3 {
	text-align: center;
}
.timeButton, .submitButton {
	width: 100%;
	height: 30px;
	background-color: #93FF94;
	border-radius: 10px;
}
#termsAndConditions {
	height: 20px;
	width: 20px;
}
input[type="text"], input[type="number"], input[type="email"] {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}
label {
	/*padding: 12px 12px 12px 0;*/
	display: inline-block;
}
input[type=submit] {
	background-color: pink;
	color: black;
	margin-top: 30px;
	padding: 20px;
	width: 100%;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
input[type=submit]:hover {
	background-color: #45a049;
}
.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}
.container {
	/*this is what the main content is in, set to scale */
	width: 80%;
	margin: auto;
	font-family: 'Roboto', sans-serif;
}
h1, h2 {
	color: darkBlue;
}
input:invalid {
	background-color: ivory;
	border: none;
	outline: 2px solid red;
	border-radius: 5px;
}
input:valid {
	background-color: #B3FF8E;
	border: none;
	/*outline: 2px solid green;*/
	border-radius: 5px;
}
.errorMessages {
	text-align: right;
	color: red;
	float: right;
	font-style: italic;
}
/* displays the tickets as light blue buttons */

.ticket-tile {
	padding: 10px 20px;
	margin: 10px;
	outline: none;
	background-color: darkblue;
	color: white;
	font-family: 'Roboto', sans-serif;
	border: none;
	display: inline-block;
	border-radius: 5px;
}
table {
	width: 80%;
	margin: auto;
}
.button_submit {
	border-radius: 4px;
	background-color: #50EE89;
	border: none;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
}
.button_reset {
	float: right;
	border-radius: 4px;
	background-color: #d35400;
	border: none;
	color: white;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
}
[type='text'], select, [type='email'], [type='number'] {
	display: block;
	background: transparent;
	vertical-align: middle;
	width: 100%;
	border: 1px solid #cdcdcd;
	border-radius: 4px;
	font-size: 0.95rem;
}
label {
	font-weight: 800;
	font-size: 0.9rem;
	/*display: block;
	margin: 0.5rem 0;*/
}
body {
	width: 60%;
	margin: auto;
}
input[type=text], [type=date], [type=email] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
div {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}
#submitButton {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	padding: 20px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}
textarea {
	width: 100%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #ffffff;
	resize: none;
}
@keyframes click-wave {
	0% {
		height: 40px;
		width: 40px;
		opacity: 0.35;
		position: relative;
	}
	100% {
		height: 200px;
		width: 200px;
		margin-left: -80px;
		margin-top: -80px;
		opacity: 0;
	}
}
.option_input_textbox {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	position: relative;
	top: 13.33333px;
	right: 0;
	bottom: 0;
	left: 0;
	height: 40px;
	width: 40px;
	transition: all 0.15s ease-out 0s;
	background: #cbd1d8;
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin-right: 0.5rem;
	outline: none;
	position: relative;
	z-index: 1000;
}
.option_input_textbox:hover {
	background: #9faab7;
}
.option_input_textbox:checked {
	background: #40e0d0;
}
.option_input_textbox:checked::before {
	height: 40px;
	width: 40px;
	position: absolute;
	content: '✔';
	display: inline-block;
	font-size: 26.66667px;
	text-align: center;
	line-height: 40px;
}
.option_input_textbox:checked::after {
	-webkit-animation: click-wave 0.65s;
	-moz-animation: click-wave 0.65s;
	animation: click-wave 0.65s;
	background: #40e0d0;
	content: '';
	display: block;
	position: relative;
	z-index: 100;
}
input:invalid {
	background-color: pink;
}
.errorMessages {
	text-align: right;
	color: red;
	float: right;
	font-style: italic;
}
.exercise-tile {
	width: 90px;
}
#outputBurn {
	color: rgb(220, 220, 220);
	background-color: rgb(90, 95, 100);
	border-radius: 5px;
	font-size: 18px;
	width: 80%;
	height: 60px;
	text-align: center;
	margin: 10px;
	padding: 10px;
	font-family: 'Open Sans';
}
.blue-button {
	color: white;
	border: none;
	display: inline-block;
	width: 100px;
	font-size: 15px;
	background-color: dodgerBlue;
	border-radius: 10px;
	text-align: center;
	padding: 10px;
	margin: 10px 0 0 10px;
	line-height: 30px;
}
.blue-button:hover {
	cursor: pointer;
	opacity: 0.90;
}
#errorfirstNames, #errorTickets {
	color: red;
	float: right;
}
input:invalid {
	background-color: pink;
	border-bottom: 1px solid red;
}
/* The Modal (background) */

.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	padding-top: 100px;
	/* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}
/* Modal Content */

.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}
/* The Close Button */

.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
* {
	box-sizing: border-box;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
/* Float four columns side by side */

.column {
	float: left;
	width: 25%;
	padding: 0 10px;
}
/* Remove extra left and right margins, due to padding */

.row {
	margin: 0 -5px;
}
/* Clear floats after the columns */

.row:after {
	content: "";
	display: table;
	clear: both;
}
/* Responsive columns */

@media screen and (max-width: 600px) {
	.column {
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
}
/* Style the counter cards */

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	text-align: center;
	background-color: #f1f1f1;
}
@media only screen and (max-width: 600px) {
	.container {
		width: 95%;
	}
	.ticket-tile, .button_submit, .button_reset {
		width: 100%;
		margin-bottom: 20px;
	}
	h1, h2 {
		text-align: center;
	}
	table {
		width: 95%;
	}
}